<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compileBitcode</key>
	<false/>
	<key>destination</key>
	<string>export</string>
	<key>method</key>
	<string>ad-hoc</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>com.ruihuanetwork.buyerShow</key>
		<string>home-test</string>
	</dict>
	<key>signingCertificate</key>
	<string>FF12ACD581206C2787A4A6438F9CCE5E8954AFB2</string>
	<key>signingStyle</key>
	<string>manual</string>
	<key>stripSwiftSymbols</key>
	<true/>
	<key>teamID</key>
	<string>74PBW9554G</string>
	<key>thinning</key>
	<string>&lt;none&gt;</string>
</dict>
</plist>
